@import "tailwindcss";

/*noinspection CssUnresolvedCustomProperty*/
@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  h1,h2,h3 {
    @apply font-display;
  }
  h1 {
    font-size: var(--text-6xl);
  }
  h2 {
    font-size: var(--text-xl);
  }

  body {

  }
  html {
    @apply font-sans bg-background text-foreground;
  }
}

@layer components {
  .logo{
    @apply font-display;
  }
  .btn,
  .btn-primary,
  .btn-secondary {
    @apply inline-flex items-center gap-2 rounded-lg px-5.5 py-3
    text-[15px] font-semibold transition cursor-pointer
    outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-700
    [-webkit-tap-highlight-color:transparent];
  }

  .btn-primary {
    @apply bg-zinc-900 text-white
    [@media(hover:hover)]:hover:bg-black
    active:bg-black active:scale-[0.98]
    aria-selected:bg-black aria-selected:scale-[0.98];
  }

  .btn-secondary {
    @apply border border-zinc-200 bg-transparent text-zinc-900
    [@media(hover:hover)]:hover:border-zinc-900 [@media(hover:hover)]:hover:text-zinc-900
    [@media(hover:hover)]:hover:bg-zinc-50 [@media(hover:hover)]:hover:no-underline
    active:bg-zinc-100 active:scale-[0.98]
    aria-selected:border-zinc-900 aria-selected:bg-zinc-100;
  }

  .icon-link {
    @apply inline-flex items-center gap-2 text-[15px] font-medium
    text-zinc-600 hover:text-teal-700 hover:underline;
  }
}

:root {
  --background: #FAFAF7;
  --foreground: #18181B;
}

.dark {


}